.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  @include for-size(desktop) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;

  @include for-size(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.clients-item {
  margin-top: 30px;
  margin-left: 30px;

  flex-basis: calc(100% / 2 - 30px);

  @include for-size(tablet) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @include for-size(desktop) {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: $accent-color;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline-color: $accent-color;
  }
}

.clients-icon {
  fill: $secondary-text-color;
}
