.button {
  padding: 10px 32px;
  margin: 0px;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  background: #2196f3;
  color: $white-color;
  cursor: pointer;
}
