.footer-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
  margin: 0px 0px 20px 0px;
}

.social-footer-list {
  display: flex;
}

.social-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  background: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-icon {
  fill: $white-color;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-item {
  width: calc((50% - 30px - 15px) / 2);
  outline: 2px solid tomato;

  &:last-child {
    width: calc(50% - 15px);
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-list-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  padding: 0;
}

.footer-list {
  padding-bottom: 9px;
}

.footer-item-address {
  color: $white-color;
  padding-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-list-contacts .link {
  color: rgba(255, 255, 255, 0.6);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer .logo {
  color: $white-color;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.footer-form-field {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2f303a;
  color: $white-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-footer-icon {
  fill: $white-color;
  margin-left: 10px;
}

.footer .button {
  display: inline-flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
