.header {
  background: $white-color;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
  outline: 2px solid tomato;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.site-nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-svg {
  fill: currentColor;
}

.accent {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site nav */

.site-nav .link {
  color: $primary-text-color;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: fill $duration $timming-function;
  }
}

.site-nav .link-current {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: fill $duration $timming-function;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    bottom: -32px;
  }
}

/* contacts */
.contacts {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts-svg {
  margin-right: 10px;
}

.contacts .link {
  color: $secondary-text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: fill $duration $timming-function;
  }
}

.contacts .link-contacts {
  color: $secondary-text-color;
  text-decoration: none;
}
