.header {
  position: relative;
  background: $white-color;

  @media screen and(max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and(min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-container {
  @media screen and(max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: $white-color;
    padding-top: 60px;
    padding-bottom: 60px;
    // display: flex;
    // align-items: center;
  }

  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.header-container.is-open {
  display: block;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// .logo {
//   margin-right: 93px;
// }
.site-nav {
  @media screen and(max-width: 767px) {
    margin-bottom: 60px;
    &-item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and(min-width: 768px) {
    display: flex;
    &-item:not(:last-child) {
      margin-right: 50px;
    }
  }
}
// .site-nav {
//   display: none;
//   display: flex;
//   align-items: center;
//   font-size: 18px;
//   line-height: 1.16;
//   letter-spacing: 0.02em;

//   @include for-size(tablet) {
//     font-size: 14px;
//     line-height: 1.14;
//   }
// }

// .site-nav-item .link {
//   display: inline-block;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

.accent {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* site nav */

.site-nav .link {
  color: $primary-text-color;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: fill $duration $timming-function;
  }
}

.site-nav .link-current {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: fill $duration $timming-function;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
  }
}

@include for-size(tablet) {
  .site-nav .link-current::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    bottom: 0;
  }
}

/* contacts */

.menu-open-window {
  display: inline-block;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.contacts {
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.contacts-item {
  @media screen and(max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  @media screen and(min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-svg {
  fill: currentColor;
}

// .contacts {
//
//   font-size: 18px;
//   line-height: 1.16;
//   letter-spacing: 0.02em;

//   @include for-size(tablet) {
//     font-size: 14px;
//     line-height: 1.14;
//   }

//   @include for-size(desktop) {
//     display: flex;
//   }
// }

.contacts-svg {
  display: inline-block;
  margin-right: 10px;
  @include for-size(tablet-desktop-1) {
    margin-right: 8px;
  }
}

.contacts-svg-letter {
  width: 14px;
  height: 10px;
  @include for-size(desktop) {
    width: 16px;
    height: 12px;
  }
}

.contacts-svg-phone {
  width: 10px;
  height: 14px;

  @include for-size(desktop) {
    width: 12px;
    height: 16px;
  }
}

.contacts .link {
  color: $secondary-text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
    transition: fill $duration $timming-function;
  }
}

.contacts .link-contacts {
  color: $secondary-text-color;
  text-decoration: none;
}

.button-burger {
  background-color: transparent;
  outline: none;
  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.button-burger.is-open .menu-burger {
  display: none;
}

.button-burger.is-open .menu-cross {
  display: block;
}

.button-burger .menu-cross {
  display: none;
}
